html, body {
  width: 100%;
  height: 100%;
}

#button {
  background: url("../images/cupcake.jpg");
  width: 132px;
  height: 150px;
  border: 2px solid black;
  cursor: pointer;

  position: absolute;
  left: calc(50% - 67px);
  top: calc(50% - 76px);
}

#button:hover {
  left: calc(50% - 62px);
  top: calc(50% - 71px);
}